@import url('https://fonts.googleapis.com/css?family=Julee|Lobster|Pacifico');

body {
  margin: 0 auto;
  background-color: #D8CBBD;
  background-size: 100%;
  background-repeat: no-repeat;
}

img {
    height: 260;
    width: 200px;
}

ul > li {
  list-style: none;
  display: inline-block;
}

i {
  color: grey;
  margin: 0 10px;
  font-size: 40px;
}

h1, h2 {
  color: #c3c5c0;
  font-family: 'Lobster', 'Helvetica';
  font-weight: 200;
}



h3 {
  color: #b9b9b9;
  text-align:center;
  font-family: 'Pacifico', 'Helvetica';
  font-weight: 200;
}

p {
  color: #b9b9b9;
  padding: 0px 30px;
}

i:hover {
  color: red;
}

.img-small {
    height: 200;
    width: 200px;
    margin-top: 20px;
}

.card {
  background-image: url("images/gucci1.jpg");
  background-repeat: repeat;
  background-size: 30px;
  /* background-color: #D3B99F; */
  margin: 10px auto;
  width: 660px;
  padding: 10px;
  text-align: center;
  box-shadow: 3px 2px 7px #b9b9b9;
  border-radius: 5px;
}

.small-card {
  background-color: #000;
  color: #e8e8e8;
  margin: 2px auto;
  width: 69px;
  padding: 35px 10px;
  border-radius: 2px;
  list-style: none;
  display: inline-block;
  margin: auto;
  text-align: center;
  border: 1px solid white;
  margin: 0px 3px;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.57);
  border: 1px solid #5f1313;
}

.html:hover {
  background-image: url("images/html.png");
  background-size: cover;
  color: black;
  font-weight: bold;
}

.css:hover {
  background-image: url("images/css.png");
  background-size: contain;
  color: black;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
}

.sql:hover {
  background-image: url(images/sql.png);
  background-size: contain;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
}

.ruby:hover {
  background-image: url("images/ruby.png");
  background-size: cover;
  color: black;
  font-weight: bold;
}


#banner {
  background-image: url("images/gartentor.jpg");
  background-size: cover;
  padding: 90px 0;
  margin: 0;
  background-position: center;
  text-align: center;
}

#footer {
  background-color: black;
  text-align: center;
  color: grey;
  padding: 42px;
  font-family: 'Lobster', 'Helvetica';
  font-weight: 100;
  font-size: 30px;
}




